.product_card_box {
    .card {
        .card-body {

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                /* number of lines to show */
                line-clamp: 3;
                -webkit-box-orient: vertical;
                margin: 15px 0;

            }

        }

    }


}