.header_section {
    background-color: #f4f3f3;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
    margin-bottom: -76px;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand span {
    font-size: 20px;
    font-weight: bold;
    color: #0c0900;
    text-transform: uppercase;
}

.navbar {
    z-index: 99999;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
}

.top-bar.container {
    padding: 18px 0;
}

.nav-item-box {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.contact_nav {
    display: flex;
    width: 100%;
}

a.nav-link-item {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #0c0900;
    text-decoration: none;
    font-weight: 600;
}

a.nav-link-item img {
    width: 22px;
    padding: 5px 0;

}

.main-menu-header.container {
    background: #f8bc1a;
    padding: 18px 0;
    clip-path: 10px 10px;
    clip-path: polygon;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%);
}

.main_menu_body {
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 20px;

}

.main_menu_body a {
    color: #0c0900;
    text-decoration: none;
}

.main_menu_body a:hover,
.main_menu_body a:focus,
.main_menu_body a:active {
    color: #fff;
    transition: all 0.3s;
}

nav.navbar.navbar-expand-md.navbar-light {
    padding: 0;
}