.header_section {
    background-color: #f4f3f3;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand span {
    font-size: 20px;
    font-weight: bold;
    color: #0c0900;
    text-transform: uppercase;
}

.navbar {
    z-index: 99999;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
}

.top-bar.container {
    padding: 18px 0;
}

.nav-item-box {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.contact_nav {
    display: flex;
    width: 100%;
}

a.nav-link-item {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #0c0900;
    text-decoration: none;
    font-weight: 600;
}

a.nav-link-item img {
    width: 22px;
    padding: 5px 0;

}